--extra-index-url https://download.pytorch.org/whl/cu117
numpy
opencv-python
opencv-python-headless
pandas
Pillow
scikit-image
scikit-learn
torch==2.2.0
segmentation-models-pytorch
timm
tqdm
tensorboard
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
