--extra-index-url https://download.pytorch.org/whl/cu117
numpy
opencv-python
opencv-python-headless
pandas
Pillow
scikit-image
scikit-learn
torch==2.10.0
segmentation-models-pytorch
timm
tqdm
tensorboard
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
